---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found">
    <div style="text-align: center; font-size: 40px;">The page you are looking for does not exist.</div>
</BaseLayout>
