---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact">
    <ul>
        <li>
            Github (for all project source codes): <a
                href="https://github.com/govtx86/">govtx86</a>
        </li>
        <li>Email : <a href="mailto:govindsanal08@gmail.com">govindsanal08@gmail.com</a></li>
    </ul>
</BaseLayout>
