---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="</GovT>">
	<h3>About Me</h3>
	<p>
		I am a Computer Science student currently in Higher Secondary <br>
		I learned to code mostly on my own with resources all over the internet
	</p>
</BaseLayout>
