---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./projects/*.md");
---

<BaseLayout title="Projects">
    <Breadcrumbs />
    <div>
        <ul>
            {
                allPosts.map((post) => (
                    <li>
                        <a href={post.url} style="color: rgb(0, 238, 255);">
                            {post.frontmatter.title} <br>
                            <span style="color: whitesmoke;">
                                {post.frontmatter.desc}
                            </span>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>

<style>
    a {
        text-decoration: none;
    }
</style>
