---

---

<div id="footer">
    <span>
        &copy;Govind S 2023
    </span>
</div>

<style>
    #footer {
        border-color: whitesmoke;
        border-style: dashed;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
    }
</style>