---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Teko&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>

    <style>
        body {
            font-family: Teko;
            color: whitesmoke;
            font-size: 25px;
            margin: 0;
            background-color: black;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            min-height: 100vh;
        }
        #mainbody {
            flex-grow: 1;
            padding: 15px;
        }
    </style>

    <body>
        <Header />
        <div id="mainbody">
            <slot />
        </div>
        <Footer />
    </body>
</html>
